.header{
    
    background-color: blue;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}
.container{
    height:300px;
    display:flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    
}
.sidebar{
    width: 25%;
    background-color: green;
    color: white;
    padding: 20px;
}
.content{
    width: 75%;
    background-color: red;
    color: white;
    padding: 20px;
}
.footer{
    background-color: purple;
    color: white;
    padding: 10px;
}